h2 {
    background-color: beige;
    color: cornflowerblue;
    font-family: 'Courier';
    font-size: 35px;
}

body {
    background:linear-gradient(to right,red,lightblue);
    color: rgb(243, 235, 225);
   font-size: 18px;
}

div {
    margin-top: 50px;
    padding-top: 20px;
    border: 4px dotted black;
    color: dodgerblue;
    width: 600px;
}

.flex-container {
    display: flex;
    background-color: darkblue;
    color: beige;
    font-size: 25px;
    font-family: sans-serif;
width: 900;
height: 315;
margin-right:40px;
}

.flex-item {
width: 900;
height: 315;
margin-right:40px;
}